{% extends "home/base.html" %}
{% block content %}
  <style>
    .advantages{
      width:60%;
      background: white;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
      box-sizing:border-box;
      font-family: "Lato", serif;
      position:relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      padding: 20px;
      display: grid;
      grid-gap: 5%;
      grid-template-columns: repeat(auto-fit, 300px);
    }

    .item{
      text-align: justify;
      font-family: "Lato", serif;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

     .list {
      border: 1px solid #ccc;
      padding: 10px;
      font-family: "Lato", serif;
     }

     ul {
       list-style-type: disc;
       padding-left: 20px;
     }

     h2 {
     font-size: 18px;
     margin-bottom: 10px;
     font-family: "Lato", serif;
     font-weight: bold;
     }

     h3{
       font-family: "Lato", serif;
     }

     h1{
       font-family: "Lato", serif;
       text-align: center;
       padding: 20px
     }

     .container{
       padding-bottom: 30px;
     }

     .order-link a{
        display: inline-block;
        font-family: "Lato", serif;
        border:2px solid #0c265d;
        color:#0c265d;
        text-decoration: none;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
     }

     .order-link a:hover{
        background:#0c265d;
        color:#fff;
     }

  </style>
  <h1>Почему выгодно работать с <b style="color: #8a0e0d">LA</b><b style="color: #0c265d">BI</b> agency:</h1>
  <div class="advantages">
    <div class="item">
      <h3>Комплексный подход</h3>
      <p>Мы можем и любим решать комплексные задачи наших клиентов. От печати полиграфии или дизайна до масштабной рекламной кампании.</p>
    </div>
    <div class="item">
      <h3>Работаем по всей России</h3>
      <p>У нас большой опыт работы в регионах. Налаженная сеть партнеров и подрядчиков по различным направлениям рекламы и производства. Доставляем заказы в регионы.</p>
    </div>
    <div class="item">
      <h3>Соблюдаем сроки</h3>
      <p>Мы понимаем как важно выдерживать заявленные сроки и предоставлять необходимую отчётность.</p>
    </div>
    <div class="item">
      <h3>Опыт работы 15+ лет</h3>
      <p>LABI agency надежная компания с клиентоориентированным сервисом и отработанными технологиями производства.</p>
    </div>
  </div>

  <h1>Мы предлагаем</h1>
  <div class="container">
        <div class="list">
            <h2>🖼️ Производство рекламы:</h2>
            <ul>
                <li>Брендирование автотранспорта</li>
                <li>Оформление офисов и торговых точек</li>
                <li>Брендирование контейнеров</li>
                <li>Баннеры</li>
                <li>Информационные стенды</li>
                <li>Таблички</li>
                <li>Оформление витрин</li>
                <li>Витрины</li>
                <li>Объемные буквы и вывески</li>
            </ul>
            <div class="order-link">
              <a href="{% url 'home:order' %}">Сделать заказ</a>
            </div>
        </div>

        <div class="list">
            <h2>🖨️ Типография</h2>
            <ul>
                <li>Наклейки</li>
                <li>Открытки и сертификаты</li>
                <li>Плакаты и афиши</li>
                <li>Дипломы и грамоты</li>
                <li>Календари</li>
                <li>Каталоги и буклеты</li>
                <li>Листовки</li>
                <li>Визитки</li>
                <li>Все виды тиснения</li>
            </ul>
            <div class="order-link">
              <a href="{% url 'home:order' %}">Сделать заказ</a>
            </div>
        </div>

        <div class="list">
            <h2>🎁 Сувенирная продукция</h2>
            <ul>
                <li>Ланьярды и бирки</li>
                <li>Корпоративные подарки</li>
                <li>Награды</li>
                <li>Текстиль (футболки и кепки)</li>
                <li>Пакеты с логотипом</li>
                <li>Подарочные наборы</li>
                <li>Ежедневники и блокноты</li>
                <li>Кружки</li>
                <li>Ручки</li>
            </ul>
            <div class="order-link">
              <a href="{% url 'home:order' %}">Сделать заказ</a>
            </div>
        </div>

        <div class="list">
            <h2>🛠️ Застройка выставочных стендов</h2>
            <ul>
                <li>Указатели и буклетницы</li>
                <li>Промостойки и торговые островки</li>
                <li>Оформление мероприятий и выставок</li>
                <li>Выставочные стенды</li>
                <li>Аренда выставочного оборудования</li>
                <li>Стенды press wall, brand wall</li>
                <li>Мобильные стены (roll up и pop up)</li>
                <li>Выставочный сервис</li>
            </ul>
            <div class="order-link">
              <a href="{% url 'home:order' %}">Сделать заказ</a>
            </div>
        </div>

        <div class="list">
            <h2>🎉 BTL</h2>
            <ul>
                <li>Дорхенгеры (дверные крючки)</li>
                <li>Корпоративные мероприятия</li>
                <li>Церемонии открытия магазинов и офисов</li>
                <li>Безадресная рассылка по почтовым ящикам</li>
                <li>Тайный покупатель</li>
                <li>Ростовые куклы</li>
                <li>Дегустации</li>
                <li>Промо-акции (СПБ, Москва + регионы)</li>
            </ul>
            <div class="order-link">
              <a href="{% url 'home:order' %}">Сделать заказ</a>
            </div>
        </div>

        <div class="list">
            <h2>📈 Дизайн и Диджитал</h2>
            <ul>
                <li>СЕО-оптимизация</li>
                <li>Доработка сайта</li>
                <li>Интернет-магазины</li>
                <li>Контекстная реклама</li>
                <li>Баннеры (вэб)</li>
                <li>Создание сайтов</li>
                <li>Дизайн полиграфии</li>
                <li>Разработка логотипа и фирменного стиля</li>
            </ul>
            <div class="order-link">
              <a href="{% url 'home:order' %}">Сделать заказ</a>
            </div>
        </div>
  </div>
{% endblock content %}